@charset "UTF-8";

@font-face {
  font-weight: 400;
  font-family: "PTSans";
  font-display: swap;
  font-style: normal;
  src: url("PTSans-Regular.woff") format("woff"), url("PTSans-Regular.woff") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PTSans";
  font-display: swap;
  font-style: normal;
  src: url("PTSans-Bold.woff") format("woff"), url("PTSans-Bold.woff") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  src: url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.woff") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  src: url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.woff") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  src: url("OpenSans-Regular.woff") format("woff"), url("OpenSans-Regular.woff") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  src: url("OpenSans-SemiBold.woff") format("woff"), url("OpenSans-SemiBold.woff") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  src: url("OpenSans-Bold.woff") format("woff"), url("OpenSans-Bold.woff") format("woff2");
}

@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot?65c6sd");
  src: url("icomoon.eot?65c6sd#iefix") format("embedded-opentype"), url("icomoon.ttf?65c6sd") format("truetype"), url("icomoon.woff?65c6sd") format("woff"), url("icomoon.svg?65c6sd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-size: 18px;
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 2px;
}

._icon-share:before {
  content: "\e918";
}

._icon-views:before {
  content: "\e928";
}

._icon-sort:before {
  content: "\e909";
}

._icon-timer:before {
  content: "\e907";
}

._icon-time:before {
  content: "\e908";
}

._icon-favorite-active:before {
  content: "\e90a";
  color: #4f9fe1 !important;
}

._icon-whatsapp:before {
  content: "\e900";
}

._icon-twitter:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-telegram:before {
  content: "\e905";
}

._icon-youtube:before {
  content: "\e906";
}

._icon-compare:before {
  content: "\e903";
}

._icon-play:before {
  content: "\e917";
}

._icon-column-mode:before {
  content: "\e904";
}

._icon-row-mode:before {
  content: "\e916";
}

._icon-settings:before {
  content: "\e90b";
}

._icon-layers:before {
  content: "\e90c";
}

._icon-payback:before {
  content: "\e90d";
}

._icon-profit:before {
  content: "\e90e";
}

._icon-price:before {
  content: "\e90f";
}

._icon-phone:before {
  content: "\e910";
}

._icon-mail:before {
  content: "\e911";
}

._icon-map:before {
  content: "\e912";
}

._icon-magnifying-glass:before {
  content: "\e913";
}

._icon-to-go:before {
  content: "\e914";
}

._icon-favorite:before {
  content: "\e915";
}

/* =-=-=-=-=-=-=-=-=-=-= <Глобальные стили> =-=-=-=-=-=-=-=-=-=-= */

ul li {
  list-style: none;
}

body {
  letter-spacing: 0.05em;
  font-family: 'Roboto';
  color: #333333;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

._border-top {
  border-top: 1px solid #c9cfdd;
}

.wrapper {
  flex: 1 1 auto;
}

._icon-before {
  padding-left: 20px;
}

/* =-=-=-=-=-=-=-=-=-=-= <Текстовые стили> =-=-=-=-=-=-=-=-=-=-= */

.main-title,
.section-title {
  display: inline-block;
  position: relative;
}

.main-title .accent-text,
.section-title .accent-text {
  display: inline-block;
  text-transform: none;
  color: #4f9fe1;
}

.main-title._after-elem::after,
.section-title._after-elem::after {
  content: '.';
  position: absolute;
  color: #4f9fe1;
}

.min-title {
  font-weight: 700;
  font-size: 30px;
  font-family: 'PTSans';
}

.title {
  font-family: 'PTSans';
  font-weight: 700;
}

.text-content p {
  padding: 10px 0;
  line-height: 2;
}

.text-content__image {
  display: inline-block;
  object-fit: cover;
  border-radius: 15px;
}

.text-content__image._large-image {
  width: 100%;
  height: 100%;
  max-height: 325px;
}

.text-content__image._min-image {
  width: 100%;
  height: 100%;
  max-height: 188px;
  display: block;
}

.text-content__img {
  min-height: 188px;
  overflow: hidden;
}

/* =-=-=-=-=-=-=-=-=-=-= </Текстовые стили> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Кнопки и ссылки> =-=-=-=-=-=-=-=-=-=-= */

._btn {
  display: inline-block;
  position: relative;
  color: #757b89;
  text-align: center;
  font-family: 'PTSans';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 2em;
  color: #333333;
  border: 2px solid #000000;
  box-shadow: none;
  background-color: transparent;
  padding: 11px 40px;
  z-index: 2;
  transition: all .2s ease-in-out;
}

._btn._large-btn {
  padding: 11px 30px;
  min-width: 220px;
}

._btn::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #4f9fe1 0%, #297de5 100%);
  transition: all .2s ease-in-out;
  opacity: 0;
  border-radius: 2em;
  z-index: -1;
}

._btn._active-style {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

._btn._active-style::before {
  opacity: 1;
}

._btn:hover {
  border: 2px solid transparent;
  box-shadow: 0px 9px 32px 0px rgba(31, 90, 153, 0.3);
  color: #FFFFFF;
}

._btn:hover::before {
  opacity: 1;
}

._btn._min-btn {
  box-shadow: none;
  background-color: transparent;
  min-width: 137px;
  padding: 7px 20px;
  border: 2px solid #757b89;
  color: #757b89;
}

._btn._min-btn::before {
  display: none;
}

._btn._min-btn:hover {
  background-color: #757b89;
  color: #FFFFFF;
}

._btn._light-style {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

._btn._light-style:hover {
  border: 2px solid transparent;
}

._reset-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #757b89;
  box-shadow: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 13px;
  transition: all .2s ease-in-out;
}

._reset-btn svg {
  width: 19px;
}

._reset-btn svg path {
  fill: #757b89;
  transition: all .2s ease-in-out;
}

._reset-btn::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #4f9fe1 0%, #297de5 100%);
  transition: all .2s ease-in-out;
  opacity: 0;
  border-radius: 2em;
  z-index: -1;
}

._reset-btn:hover {
  border: 2px solid transparent;
  box-shadow: 0px 9px 32px 0px rgba(31, 90, 153, 0.3);
}

._reset-btn:hover::before {
  opacity: 1;
}

._reset-btn:hover path {
  fill: #FFFFFF;
}

.intro-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.intro-links > * {
  flex: 0 1 calc(50% - 10px);
}

.intro-links-item {
  display: inline-block;
  margin: 0 5px;
}

.intro-links-item-link {
  width: 100%;
}

._icon-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 0.3em;
  background-color: #FFFFFF;
  border: 2px solid #c9cfdd;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  transition: all .2s ease-in-out;
}

._icon-btn:before {
  color: #c9cfdd;
  transition: all .2s ease-in-out;
}

._icon-btn._active:before {
  color: #4f9fe1;
}

._icon-btn._active {
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

._icon-btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 2px solid transparent;
}

._icon-btn:hover:before {
  color: #4f9fe1;
}

._header-link {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px 0;
  border-bottom: 2px solid transparent;
  transition: all .2s ease-in-out;
}

._header-link:hover {
  border-color: #757b89;
}

._header-link._active {
  border-bottom: 2px solid #757b89;
}

._classic-link-style {
  display: inline-block;
  background-color: transparent;
  color: #333333;
  border: 0;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  transition: all .2s ease-in-out;
}

._classic-link-style:hover {
  color: #3285e4;
  border-bottom: 1px solid #3285e4;
}

/* =-=-=-=-=-=-=-=-=-=-= </Кнопки и ссылки> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Форма> =-=-=-=-=-=-=-=-=-=-= */

._input-styles,
._textarea-styles {
  box-shadow: none;
  padding: 16px 20px;
  width: 100%;
  border: 1px solid #b2b8c6;
  border-radius: 2em;
  transition: all .2s ease-in-out;
}

._input-styles:focus,
._textarea-styles:focus {
  box-shadow: inset 0px -3px 10px 0px rgba(20, 36, 85, 0.19);
}

._placeholder-styles {
  color: #757b89;
  font-family: "Open Sans";
  font-weight: 400;
  display: inline-block;
}

._textarea-styles {
  min-height: 145px;
  border-radius: 25px;
}

._select-styles {
  background-color: #FFFFFF;
  box-shadow: 0.629px 0.777px 8px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  min-width: 207px;
  padding: 10px 20px;
  font-family: "Open Sans";
  border-radius: 5px;
}

._select-styles:hover {
  cursor: pointer;
}

._file-btn {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background: linear-gradient(0deg, #4f9fe1 0%, #3c8ee3 57%, #297de5 100%);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

._file-btn:hover {
  box-shadow: 0px 9px 32px 0px rgba(31, 90, 153, 0.3);
}

._file-btn::before,
._file-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
}

._file-btn::before {
  width: 3px;
  height: 17px;
}

._file-btn::after {
  width: 17px;
  height: 3px;
}

._file-input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.row-form__input {
  border: 1px solid #9fa4b0;
  flex: 0 1 40%;
  width: 100%;
}

.row-form__form {
  flex-wrap: wrap;
  margin: 0 -5px;
}

.row-form__form > label {
  flex: 1 1 100%;
  padding: 5px;
}

.row-form__footer {
  width: 100%;
}

.row-form__footer > label {
  display: block;
  height: 100%;
}

.row-form__submit {
  width: 100%;
  height: 100%;
}

.row-form__body {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
}

/* =-=-=-=-=-=-=-=-=-=-= </Форма> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Слайдер> =-=-=-=-=-=-=-=-=-=-= */

.slick-dots > li {
  padding: 7px;
}

.slick-dots > li > button {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000000;
  font-size: 0;
  transition: all .2s ease-in-out;
}

.slick-dots > li > button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
}

.slick-dots > li.slick-active > button {
  border-color: #4f9fe1;
  background-color: #4f9fe1;
}

/* =-=-=-=-=-=-=-=-=-=-= </Слайдер> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Меню> =-=-=-=-=-=-=-=-=-=-= */

.social-list {
  border-top: 2px solid rgba(178, 184, 198, 0.3);
}

.social-list__list {
  display: flex;
  flex-wrap: wrap;
}

.social-list__link {
  display: inline-block;
  font-size: 0;
  padding: 6px 12px;
  transition: all .2s ease-in-out;
}

.social-list__link::before {
  color: #acb5c3;
  font-size: 30px;
}

.social-list__link:hover {
  opacity: .5;
}

.pagination-list {
  display: flex;
  margin: 0 -10px;
}

.pagination-link {
  color: #9fa4b0;
}

.pagination-link._active {
  text-decoration: underline;
}

.pagination-link:hover {
  color: #4f9fe1;
}

.page-address__item {
  position: relative;
}

.page-address__item:not(:last-child) {
  opacity: 0.6;
}

.page-address__item:not(:last-child)::after {
  content: '|';
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, 0);
}

.page-address__item--link {
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.page-address__item--link:hover {
  border-bottom: 1px solid #333333;
}

.page-menu__item {
  text-align: center;
}

.page-menu__item._new {
  position: relative;
  padding-right: 14px;
}

.page-menu__item._new::before {
  content: '';
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(0, -50%);
  width: 9px;
  height: 9px;
  background-color: #4f9fe1;
  border-radius: 50%;
}

.page-menu__link {
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
  font-family: "Open Sans";
  font-weight: 600;
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.page-menu__link:hover {
  color: #4f9fe1;
}

.page-menu__link._active {
  color: #4f9fe1;
}

/* Используеться в личном кабинете */

.return-link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-family: "Open Sans";
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in-out;
}

.return-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36px' height='9px'%3E%3Cpath fill-rule='evenodd' fill='%23000000' d='M36.000,5.000 L2.207,5.000 L4.975,7.768 L4.268,8.475 L0.793,5.000 L0.716,5.000 L0.710,5.006 L0.704,5.000 L-0.000,5.000 L-0.000,4.296 L-0.006,4.290 L-0.000,4.284 L-0.000,4.000 L0.257,4.000 L0.732,3.525 L0.745,3.538 L4.290,-0.006 L5.006,0.710 L1.716,4.000 L36.000,4.000 L36.000,5.000 Z'/%3E%3C/svg%3E") left center/contain no-repeat;
}

.return-link:hover {
  border-bottom: 1px solid #333333;
}

/* =-=-=-=-=-=-=-=-=-=-= </Меню> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Маленький блок под фильтром> =-=-=-=-=-=-=-=-=-=-= */

.min-add-block {
  width: 100%;
  max-width: 300px;
  margin: 0;
}

.min-add-block__body {
  background: center / cover no-repeat;
}

.min-add-block__title {
  color: #4f9fe1;
}

.min-add-block__link {
  width: 100%;
}

.min-add-block__text {
  font-family: "Open Sans";
  font-weight: 600;
}

/* =-=-=-=-=-=-=-=-=-=-= </Маленький блок под фильтром> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Блог> =-=-=-=-=-=-=-=-=-=-= */

.blog-item__body {
  margin: 20px 0 0 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 0.3em 0.3em;
}

.blog-item__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 195px;
  position: relative;
  border-radius: 0.3em 0.3em 0 0;
  overflow: hidden;
}

.blog-item__image--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-item__info {
  padding: 15px;
}

.blog-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.blog-item__text > * {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

.blog-item__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 15px 0 5px 0;
}

.blog-item__date {
  color: #b2b8c6;
}

.blog-item__link {
  font-family: 'PTSans';
  text-transform: uppercase;
  color: #4f9fe1;
}

.blog-item__link::after {
  content: attr(data-after);
}

/* =-=-=-=-=-=-=-=-=-=-= </Блог> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Карточка бизнеса и список карточек> =-=-=-=-=-=-=-=-=-=-= */

.card-item.row-mode .card-item__body {
  display: flex;
  border-radius: 0.5em;
  height: 100%;
}

.card-item.row-mode .card-item__buttons {
  right: 0px;
  top: 10px;
}

.card-item.row-mode .card-item__buttons--btn:before {
  color: #333333;
}

.card-item.row-mode .card-item__buttons--btn:hover:before {
  color: #4f9fe1;
}

.card-item.row-mode .card-item__header {
  height: 100%;
  border-radius: 0.5em 0 0 0.5em;
}

.card-item.row-mode .card-item__header--image {
  top: 0px;
}

.card-item.row-mode .card-item__header--details-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-item.row-mode .card-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.card-item.row-mode .card-item__info--bottom {
  border-left: 0px solid #c9cfdd;
}

.card-item.row-mode .card-item__info--list {
  border-top: 0px;
}

.card-item.row-mode .card-item__info--price {
  border-top: 0px;
}

.card-item.row-mode .card-item__info--li {
  padding: 4px 0;
}

.card-item__body {
  position: relative;
  top: 0px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 0.5em 0.5em;
  transition: all .2s ease-in-out;
}

.card-item__body:hover {
  top: -10px;
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.25);
}

.card-item__body:hover .card-item__header--details-buttons {
  opacity: 1;
  visibility: visible;
}

.card-item__buttons {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 10px;
  display: flex;
}

.card-item__buttons--btn {
  font-size: 0;
}

.card-item__buttons--btn::before {
  font-size: 16px;
  color: #FFF;
  transition: all .2s ease-in-out;
}

.card-item__buttons--btn:hover::before {
  color: #4f9fe1;
}

.card-item__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 178px;
  padding: 10px 0 0 0;
  border-radius: 0.5em;
  overflow: hidden;
}

.card-item__header--btn {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
  /* padding: 10px;
            border-radius: 25px; */
}

.card-item__header--btn:hover {
  color: #757b89;
  background-color: white;
}

.card-item__header--image {
  position: absolute;
  left: 0;
  top: -10px;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.card-item__header--image-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-item__header--image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.35;
}

.card-item__header--labels {
  display: flex;
  flex-direction: column;
  margin: -5px 0;
  font-size: 12px;
}

.card-item__header--label {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
  padding: 2px 9px;
  margin: 5px 0;
  text-align: center;
  border-radius: 0 1em 1em 0;
}

.card-item__header--label._alt-style {
  background-color: rgba(79, 159, 225, 0.6);
}

.card-item__header--details-buttons {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all .2s ease-in-out;
}

.card-item__header--detail-btn {
  position: relative;
  display: inline-block;
  font-size: 0;
  width: 40px;
  height: 40px;
  margin: 5px;
  transition: all .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.card-item__header--detail-btn::before {
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-item__header--detail-btn:hover {
  background-color: white;
}

.card-item__header--detail-btn:hover::before {
  color: #757b89;
}

.card-item__info {
  margin: -15px 0 -20px 0;
}

.card-item__info--link {
  display: inline-block;
  width: 100%;
}

.card-item__info--address {
  color: #979caa;
  font-family: 'PTSans';
}

.card-item__info--list {
  border-top: 1px solid #c9cfdd;
}

.card-item__info--li {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
}

.card-item__info--li-name {
  color: #979caa;
}

.card-item__info--price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c9cfdd;
}

.card-item__info--price-name {
  color: #979caa;
}

.card-item__info--price-value {
  color: #4f9fe1;
  font-weight: 700;
}

.card-list__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.card-list__header > * {
  margin: 0 10px;
}

.card-list__header--founded {
  flex: 1 1 100%;
}

.card-list__mode {
  position: relative;
  left: -5px;
}

.card-list__mode--btn {
  margin: 0 5px;
  position: relative;
  width: 35px;
  height: 35px;
}

.card-list__mode--btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-list__sort {
  width: 100%;
}

.card-list__sort._active .card-list__sort--body {
  opacity: 1;
  visibility: visible;
}

.card-list__sort--body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  right: 10px;
  top: 100%;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  z-index: 100;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.card-list__sort--title {
  display: inline-block;
  color: #979caa;
}

.card-list__sort--reset-btn {
  margin: 5px 0 0 0;
}

.card-list__sort--item {
  margin: 20px 0;
}

.card-list__sort--mob-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.card-list__sort--mob-btn:before {
  font-size: 30px;
  color: #333333;
}

.card-list__sort--mob-btn._active:before {
  color: #4f9fe1;
}

.card-list__sort--mob-btn svg {
  width: 30px;
  fill: #979CAA;
}

.card-list__sort--mob-btn._active svg {
  fill: #4f9fe1;
}

.card-list__footer {
  color: #9fa4b0;
  text-align: center;
}

.card-list__footer--info {
  flex-direction: column;
  align-items: center;
}

/* =-=-=-=-=-=-=-=-=-=-= </Карточка бизнеса и список карточек> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Блоки проверить бизнес и поставить оценку> =-=-=-=-=-=-=-=-=-=-= */

.add-block {
  width: 100%;
  position: relative;
}

.add-block__body {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  position: relative;
}

.add-block__info {
  z-index: 2;
}

.add-block__image {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 240px;
  overflow: hidden;
  opacity: .3;
}

.add-block__image--img {
  position: relative;
  right: 0;
  top: 0;
  transform: translate(2%, 2%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

/* =-=-=-=-=-=-=-=-=-=-= </Блоки проверить бизнес и поставить оценку> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= </Глобальные стили> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Header> =-=-=-=-=-=-=-=-=-=-= */

.header__body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
  width: 100%;
}

.header__nav {
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  position: relative;
  right: 0px;
  z-index: 5;
  background-color: #FFFFFF;
}

.header__nav::before {
  content: '';
  position: absolute;
  left: -10px;
  bottom: 0;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #b2b8c6;
  opacity: 0.35;
}

.header__nav::after {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: calc(100% + 20px);
  height: 100%;
  background-color: #FFFFFF;
  z-index: -1;
}

.header__nav--btn {
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in-out;
  color: #757b89;
  display: inline-block;
}

.header__nav--btn:hover {
  border-bottom: 1px solid #757b89;
}

.header__nav--tel-btn {
  display: none;
}

.header__tel-link {
  display: inline-block;
  color: #757b89;
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in-out;
}

.header__tel-link:hover {
  border-bottom: 1px solid #757b89;
}

.header__tel-link--btn {
  border: 2px solid #757b89 !important;
  font-size: 12px;
}

.header__tel-link--btn:hover {
  background-color: #757b89;
  color: #FFFFFF;
}

.header__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__links--block {
  width: 100%;
  padding-right: 10px;
  position: absolute;
  left: 0px;
  top: 0;
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background-color: #FFFFFF;
  box-shadow: 0px 11px 51px 0px rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;
}

.header__links--block::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: calc(100% + 20px);
  height: 100%;
  background-color: #FFFFFF;
  z-index: -1;
}

.header__links--block._active {
  transform: translate(0, 0%);
  opacity: 1;
  visibility: visible;
}

.header__links--item {
  width: 100%;
}

.header__links--tel-link {
  max-width: 235px;
}

.header__links--link {
  width: 100%;
  text-transform: none;
}

.header__logo {
  display: inline-block;
  position: relative;
  z-index: 100;
  flex: 0 0 110px;
  height: 70px;
}

.header__logo--img {
  height: 100%;
}

.header__burger {
  display: inline-block;
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: 0;
  width: 35px;
  height: 18px;
}

.header__burger span {
  position: absolute;
  right: 0;
  display: inline-block;
  height: 2px;
  background-color: #000000;
  transition: all .2s ease-in-out;
}

.header__burger span:nth-child(1) {
  width: 100%;
  top: 0;
}

.header__burger span:nth-child(2) {
  width: 90%;
  top: 50%;
}

.header__burger span:nth-child(3) {
  width: 80%;
  top: 100%;
}

.header__burger._active {
  height: 30px;
}

.header__burger._active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.header__burger._active span:nth-child(2) {
  opacity: 0;
}

.header__burger._active span:nth-child(3) {
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
}

/* =-=-=-=-=-=-=-=-=-=-= </Header> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Главная страница> =-=-=-=-=-=-=-=-=-=-= */

.intro__item--info {
  position: relative;
  left: 0px;
}

.intro__item--title {
  text-transform: uppercase;
  line-height: 1.3;
}

.intro__item--text,
.intro__item p {
  font-family: 'PTSans';
  max-width: 370px;
}

.intro__item--image {
  justify-content: end;
  position: relative;
  right: 0px;
}

.min-video-blog__item--header {
  position: relative;
  min-height: 296px;
  border-radius: 0.3em 0.3em 0 0;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.min-video-blog__item--header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .3;
}

.min-video-blog__item--header:hover {
  transform: translate(0, -10px);
}

.min-video-blog__item--header:hover .min-video-blog__item--preview::before {
  opacity: 0.3;
}

.min-video-blog__item--header:hover .min-video-blog__item--play-btn {
  opacity: 1;
  visibility: visible;
}

.min-video-blog__item--preview {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.min-video-blog__item--preview-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.min-video-blog__item--play-btn {
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  transition: all .2s ease-in-out;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
}

.min-video-blog__item--play-btn::before {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  font-size: 28px;
  transition: all .2s ease-in-out;
}

.min-video-blog__item--play-btn:hover {
  background-color: white;
}

.min-video-blog__item--play-btn:hover::before {
  color: #757b89;
}

.min-video-blog__item--timecode {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0px 5px;
  border-radius: 0.1em;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* =-=-=-=-=-=-=-=-=-=-= </Главная страница> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Список бизнесов> =-=-=-=-=-=-=-=-=-=-= */

.intro-catalog {
  position: relative;
}

.intro-catalog__mob-image {
  display: flex;
  justify-content: center;
  z-index: -1;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 350px;
}

.intro-catalog__mob-image--img {
  width: 100%;
  object-fit: contain;
}

.business-catalog__title {
  font-family: 'PTSans';
  width: 100%;
  font-style: 30px;
}

.business-catalog__block--header {
  flex-wrap: wrap;
}

/* =-=-=-=-=-=-=-=-=-=-= </Список бизнесов> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Страница бизнеса> =-=-=-=-=-=-=-=-=-=-= */

.header-business__body {
  color: #FFFFFF;
  position: relative;
  width: 100%;
  margin: 0;
}

.header-business__bg {
  background: center center / cover no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.header-business__bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .43;
}

.header-business__label-block {
  justify-content: start;
}

.header-business__label-list {
  display: flex;
  flex-wrap: wrap;
}

.header-business__label-item-date .header-business__label-item-text {
  background-color: #41bce7;
}

.header-business__label-item-new .header-business__label-item-text {
  background-color: #4f9fe1;
}

.header-business__label-item-views .header-business__label-item-text {
  background-color: #4182e7;
}

.header-business__label-item-text:before {
  margin: 0 5px 0 0;
}

.header-business__info {
  margin: 0;
}

.header-business__title,
.header-business__price {
  font-family: 'PTSans';
}

.header-business__footer--links {
  width: 100%;
}

.header-business__footer--share-link:before {
  font-size: 20px;
  transition: all .2s ease-in-out;
}

.header-business__footer--share-link:hover:before {
  color: #4f9fe1;
}

.owner-business__body {
  padding: 10px;
}

.owner-business__info--header {
  justify-content: center;
  max-width: 410px;
  margin: 0 auto;
}

.owner-business__info--avatar {
  flex: 0 0 80px;
  width: 80px;
}

.owner-business__info--avatar-img {
  border-radius: 50%;
  width: 100%;
}

.owner-business__info--career {
  display: block;
  font-weight: 400;
  opacity: .3;
}

.owner-business__contacts--item {
  position: relative;
}

.owner-business__contacts--icon {
  position: absolute;
  left: 0;
  top: 20px;
}

.owner-business__contacts--icon::before {
  color: #b2b8c6;
  font-size: 16px;
}

.owner-business__min-business-info--item {
  flex-wrap: wrap;
}

.owner-business__min-business-info--name {
  color: #9fa4b0;
}

.owner-business__min-business-info--name::before {
  color: #b2b8c6;
}

.owner-business__min-business-info--value.price-value {
  color: #4f9fe1;
  font-weight: 700;
}

.info-business__slider {
  margin-top: -15px;
  margin-left: -5px;
  margin-right: -5px;
}

.info-business__slider .slick-draggle {
  padding-right: 5px;
  padding-left: 5px;
}

.info-business__slider .slick-track {
  padding-top: 10px;
  padding-right: 5px;
}

.info-business__slider .slick-dots {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.info-business__slider .slick-dots > li {
  padding: 0 10px;
}

.info-business__slider .slick-dots > li > button {
  width: 10px;
  height: 10px;
}

.info-business__slider--item {
  position: relative;
  height: 300px;
  margin: 5px;
  transition: all .2s ease-in-out;
}

.info-business__slider--item:hover .info-business__slider--item-icon {
  opacity: 1;
}

.info-business__slider--item-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.info-business__slider--item-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.info-business__slider--item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-business__tabs--btn-list {
  width: calc(100% + 20px);
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: start;
  padding-left: 5px;
}

.info-business__tabs--btn-link {
  display: inline-block;
  border: 1px solid #9fa4b0;
  text-transform: capitalize;
  color: #9fa4b0;
  transition: all .2s ease-in-out;
  border-radius: 5px;
}

.info-business__tabs--btn-link._active {
  color: #4f9fe1;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}

/* =-=-=-=-=-=-=-=-=-=-= </Страница бизнеса> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Про Компанию> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Про Компанию> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Статьи, блог> =-=-=-=-=-=-=-=-=-=-= */

.last-articels {
  width: 100%;
}

.last-articels__large-articel--block {
  height: 100%;
  flex-direction: column;
}

.last-articels__large-articel--body {
  flex: 1 1 100%;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.last-articels__large-articel--image {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  flex: 1 1 100%;
}

.last-articels__large-articel--image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.last-articels__large-articel--info {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.last-articels__large-articel--text-body {
  flex: 1 1 100%;
}

.last-articels__large-articel--text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-clamp: 9;
  box-orient: vertical;
}

.last-articels__large-articel--link {
  width: 100%;
}

.last-articels__week--list {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.last-articels__week--item {
  width: 100%;
}

.last-articels__week--item:hover .last-articels__week--item-link {
  color: #3285e4;
  border-color: #3285e4;
}

.last-articels__week--item-body {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.last-articels__week--item-image {
  align-self: baseline;
  min-width: 83px;
  height: 100%;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}

.last-articels__week--item-info {
  width: 100%;
}

.last-articels__week--item-img {
  height: 100%;
  height: 100%;
  object-fit: cover;
}

.last-articels__week--item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.last-articels__week--item-footer {
  flex-wrap: wrap;
}

.last-articels__week--item-date {
  color: #b2b8c6;
}

.last-articels__week--item-link {
  font-family: 'PTSans';
}

/* =-=-=-=-=-=-=-=-=-=-= </Статьи, блог> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Контакты> =-=-=-=-=-=-=-=-=-=-= */

.main-contacts {
  position: relative;
  z-index: 5;
}

.main-contacts::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: -1;
}

.main-contacts__info--span,
.main-contacts__info--link {
  position: relative;
}

.main-contacts__info--span:before,
.main-contacts__info--link:before {
  position: absolute;
  left: -10px;
  top: 0;
  transform: translate(-100%, 0);
  color: #b2b8c6;
}

.main-contacts__info--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-contacts__info--regional-map {
  max-width: 490px;
}

.main-contacts__info--regional-map-body {
  max-height: 157px;
  overflow: hidden;
}

.main-contacts__info--regional-map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-contacts__info--regional-list {
  margin-top: -10px;
}

.main-contacts__info--regional-item {
  position: relative;
  list-style: disc;
}

.main-contacts__info--regional-item::marker {
  font-size: 15px;
  color: #9fa4b0;
}

.form-contacts__submit {
  width: 100%;
}

.map-contacts {
  position: relative;
  overflow: hidden;
}

.map-contacts::before,
.map-contacts::after {
  content: '';
  position: absolute;
  top: 0;
}

.map-contacts::before {
  width: 100%;
  height: 60px;
  left: 0;
  box-shadow: 0px 18px 28.71px 0.29px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.map-contacts::after {
  width: 60px;
  height: 60px;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0) rotate(45deg);
  z-index: 2;
  background-color: #FFFFFF;
  box-shadow: 0px 18px 28.71px 0.29px rgba(0, 0, 0, 0.14);
}

.map-contacts__body {
  position: relative;
  box-shadow: inset 0px 18px 28.71px 0.29px rgba(0, 0, 0, 0.14);
}

.map-contacts__body::before {
  content: '';
  position: absolute;
  top: -60px;
  width: 100%;
  height: 60px;
  left: 0;
  background-color: #FFFFFF;
  z-index: 3;
}

/* =-=-=-=-=-=-=-=-=-=-= </Контакты> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Личный кабинет> =-=-=-=-=-=-=-=-=-=-= */

.main-account__form--label {
  display: block;
}

.main-account__form--row {
  width: 100%;
}

.main-account__form--footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-account__user-business-list--mode {
  order: -1;
}

.main-account__requests-message--form-message,
.main-account__requests-page--form-message {
  min-height: 224px;
}

.main-account__requests-message--form-footer,
.main-account__requests-page--form-footer {
  justify-content: end;
  position: relative;
}

.main-account__requests-message--form-btn-body._for-reset-btn,
.main-account__requests-page--form-btn-body._for-reset-btn {
  position: absolute;
  right: 0;
  top: calc(50% + 10px);
  transform: translate(0, -50%);
}

.main-account__requests-message--form-btn-body._for-submit-btn,
.main-account__requests-page--form-btn-body._for-submit-btn {
  flex: 1 1 100%;
}

.submit-business__form--block-col {
  display: flex;
  flex-direction: column;
}

.submit-business__form--block-row {
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.submit-business__form--label {
  display: flex;
  justify-content: start;
  flex: 1 1 auto;
}

.submit-business__form--label._min-label {
  flex: 0 1 auto;
}

.submit-business__form--placeholder {
  display: block;
  flex: 1 1 100%;
}

.submit-business__form--footer {
  flex: 1 1 100%;
  position: relative;
  display: flex;
  justify-content: end;
}

.submit-business__form--btn-body._for-reset-btn {
  position: absolute;
  right: 0;
  top: calc(50% + 15px);
  transform: translate(0, -50%);
}

.submit-business__form--btn-body._for-submit-btn {
  flex: 1 1 100%;
}

.submit-business__form--description {
  min-height: 210px;
  padding-right: 10px;
  letter-spacing: 0.9px;
}

.submit-business__form--item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.submit-business__form--select {
  width: 100%;
}

.submit-business__form--file-body {
  display: flex;
  flex-wrap: wrap;
}

.submit-business__form--file-list {
  flex: 1 1 auto;
}

.submit-business__form--file-btn {
  flex: 0 0 50px;
}

.submit-business__form--file-item {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.submit-business__form--file-item-value {
  user-select: none;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.submit-business__form--file-item:hover .submit-business__form--file-item-value {
  color: #4f9fe1;
}

.submit-business__form--file-item-remove {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.submit-business__form--file-item-remove::before {
  content: 'x';
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.5;
}

.requests-list__item--body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  box-shadow: 0.629px 0.777px 8px 0px rgba(0, 0, 0, 0.15);
}

.requests-list__item._new .requests-list__item--body {
  position: relative;
}

.requests-list__item._new .requests-list__item--body::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 9px;
  height: 9px;
  background-color: #4f9fe1;
  border-radius: 50%;
}

.requests-list__item--link {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.requests-list__item--info {
  color: #757b89;
}

.requests-list__item--btn-remove {
  color: #757b89;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-left: 2px solid #757b89;
}

.requests-list__item--btn-body {
  flex: 0 1 15%;
  height: 100%;
}

.request-chat__body {
  box-shadow: 0.629px 0.777px 8px 0px rgba(0, 0, 0, 0.15);
}

.request-chat__list {
  display: flex;
  flex-direction: column;
  max-height: 687px;
  overflow: auto;
}

.request-chat__item {
  align-self: flex-start;
  max-width: 90%;
}

.request-chat__item--body {
  border-radius: 5px;
  position: relative;
}

.request-chat__item--body::before {
  content: '';
  position: absolute;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.request-chat__item._from-support .request-chat__item--body {
  background-color: #e0e1e6;
}

.request-chat__item._from-support .request-chat__item--body::before {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 0);
  border-bottom: 20px solid #e0e1e6;
}

.request-chat__item._from-user .request-chat__item--body {
  background-color: #e4e8f5;
}

.request-chat__item._from-user .request-chat__item--body::before {
  right: 0;
  bottom: 0;
  transform: translate(50%, 0);
  border-bottom: 20px solid #e4e8f5;
}

.request-chat__item._from-user {
  align-self: flex-end;
}

.request-chat__item--info {
  color: #757b89;
}

/* =-=-=-=-=-=-=-=-=-=-= </Личный кабинет> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Footer> =-=-=-=-=-=-=-=-=-=-= */

.footer {
  background-color: #eaedf3;
  width: 100%;
  overflow: hidden;
}

.footer__row {
  align-items: baseline;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.footer__row._top-line::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  width: 100vw;
  height: 1px;
  background-color: #b2b8c6;
}

.footer__nav--item {
  position: relative;
}

.footer__nav--item-icon {
  position: absolute;
  left: 0;
  top: 4px;
}

.footer__nav--item-icon:before {
  line-height: 0;
  color: #b2b8c6;
}

.footer__nav--title {
  text-transform: uppercase;
}

.footer__nav--link {
  display: inline;
  border-bottom: 1px solid transparent;
}

.footer__nav--link:hover {
  border-bottom: 1px solid #333333;
}

.footer__form--input {
  border: 0;
}

.footer__form--submit {
  width: 100%;
  padding: 11px 5px;
}

.footer__social {
  order: 1;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

.footer__copy {
  display: inline-block;
  margin: 5px 0;
  color: #b2b8c6;
  order: 1;
  flex: 0 1 17%;
}

.footer__extra {
  order: 2;
  margin: 0 -20px;
  flex: 1 1 100%;
  position: relative;
}

.footer__extra::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100vw + 10px);
  height: 1px;
  background-color: #b2b8c6;
}

.footer__extra--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__extra--item {
  margin: 5px 20px;
  flex: 0 1 calc(33.333% - 70px);
}

.footer__extra--link {
  display: inline;
  color: #b2b8c6;
  position: relative;
  font-size: 12px;
  border-bottom: 1px solid #b2b8c6;
}

/* =-=-=-=-=-=-=-=-=-=-= </Footer> =-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-= <Медиа-запросы> =-=-=-=-=-=-=-=-=-=-= */

@media (min-width: 480px) {
  .card-item.row-mode .card-item__buttons {
    right: 10px;
  }

  .intro-catalog__mob-image {
    left: 50%;
    top: 65%;
    width: 450px;
  }

  .last-articels__large-articel--body {
    flex-direction: row;
  }

  .last-articels__large-articel--image {
    border-radius: 5px 0 0 5px;
    flex: 0 1 55%;
  }

  .last-articels__large-articel--info {
    flex: 0 1 45%;
  }

  .last-articels__large-articel--footer {
    height: 100%;
    flex: 1 1 100%;
  }

  .last-articels__large-articel--link {
    width: auto;
  }

  .requests-list__item._new .requests-list__item--body::before {
    left: 25px;
  }
}

@media (min-width: 500px) {
  .intro-links > * {
    flex: 0 0 auto;
  }

  .intro-links-item-link {
    width: auto;
  }

  .intro__item--text,
  .intro__item p {
    max-width: 500px;
  }

  .info-business__slider--item {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .intro-links {
    display: block;
    width: auto;
  }

  .row-form__form > label {
    flex: 0 1 calc(40% - 20px);
    padding: 0 5px;
  }

  .row-form__footer {
    width: auto;
  }

  .row-form__submit {
    width: auto;
  }

  .social-list__link {
    padding: 6px;
  }

  .card-item.row-mode .card-item__header--details-buttons {
    width: 100%;
  }

  .card-item.row-mode .card-item__info--bottom {
    border-left: 1px solid #c9cfdd;
  }

  .card-item.row-mode .card-item__info--li {
    padding: 9px 0;
  }

  .card-list__footer--info {
    flex-direction: row;
  }

  .add-block__image {
    width: 350px;
    opacity: 1;
  }

  .add-block__image--img {
    transform: translate(0%, 0%);
  }

  .min-video-blog__item--play-btn {
    width: 40px;
    height: 40px;
  }

  .min-video-blog__item--play-btn::before {
    font-size: 21px;
  }

  .header-business__label-block {
    justify-content: end;
  }

  .info-business__tabs--btn-list {
    padding-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .info-business__tabs--btn-link {
    color: #333333;
    border: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
  }

  .info-business__tabs--btn-link._active {
    border-bottom: 2px solid #757b89;
    color: #333333;
    box-shadow: none;
  }

  .info-business__tabs--btn-link:hover {
    border-bottom: 2px solid #757b89;
  }

  .last-articels__large-articel--footer {
    height: auto;
    flex: 0 1 auto;
  }

  .form-contacts__submit {
    width: auto;
  }

  .main-account__form--footer {
    justify-content: end;
  }

  .main-account__requests-message--form-btn-body._for-reset-btn,
  .main-account__requests-page--form-btn-body._for-reset-btn {
    position: static;
    transform: translate(0, 0);
  }

  .main-account__requests-message--form-btn-body._for-submit-btn,
  .main-account__requests-page--form-btn-body._for-submit-btn {
    flex: 0 1 auto;
  }

  .submit-business__form--btn-body._for-reset-btn {
    position: static;
    transform: translate(0, 0);
  }

  .submit-business__form--btn-body._for-submit-btn {
    flex: 0 1 auto;
  }

  .submit-business__form--file-item {
    justify-content: space-between;
  }

  .request-chat__item {
    max-width: 57%;
  }

  .footer__social {
    order: 3;
    margin: 0;
    flex: 0 1 20%;
    justify-content: end;
  }

  .footer__extra {
    flex: 0 1 60%;
  }

  .footer__extra::before {
    display: none;
  }

  .footer__extra--item {
    flex: 0 1 auto;
  }

  .footer__extra--link {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .min-video-blog__item--header {
    min-height: 187px;
  }
}

@media (min-width: 992px) {
  .page-menu__item {
    text-align: left;
  }

  .page-menu__item._new::before {
    right: 10px;
  }

  .page-menu__item + .page-menu__item {
    border-top: 1px solid #9fa4b0;
  }

  .page-menu__body {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .page-menu__link {
    box-shadow: none;
    border-radius: 0px;
  }

  .card-list__header--founded {
    flex: 1 1 auto;
  }

  .card-list__sort {
    width: auto;
  }

  .card-list__sort._active {
    display: block !important;
  }

  .card-list__sort--body {
    flex-direction: row;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    position: static;
    background-color: transparent;
  }

  .card-list__sort--list {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
  }

  .card-list__sort--reset-btn {
    display: none;
  }

  .card-list__sort--item {
    margin: 0 12px;
  }

  .header__nav::before {
    display: none;
  }

  .header__links {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__links--block {
    display: block;
    position: static;
    background-color: transparent;
    box-shadow: none;
    transform: translate(0, 0%);
    opacity: 1;
    visibility: visible;
  }

  .header__links--item {
    width: auto;
  }

  .header__links--link {
    width: auto;
    text-transform: uppercase;
  }

  .header__logo {
    flex: 0 0 120px;
  }

  .intro__item--info {
    left: 55px;
  }

  .owner-business__body {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  }

  .owner-business__info--header {
    justify-content: start;
    max-width: 100%;
  }

  .owner-business__info--avatar {
    flex: 0 0 68px;
    width: 68px;
  }

  .info-business__slider {
    margin-left: 0px;
    margin-right: -5px;
  }

  .last-articels__week--list {
    margin: 0;
  }

  .main-account__user-business-list--mode {
    order: 2;
  }

  .submit-business__form--description {
    padding-right: 30px;
  }

  .footer__row._top-line::before {
    left: 0px;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 1240px) {
  .header__logo {
    flex: 0 0 160px;
  }
}

@media (any-hover: hover) {
  .card-item__header--details-buttons {
    opacity: 0;
    visibility: hidden;
  }

  .min-video-blog__item--play-btn {
    opacity: 0;
    visibility: hidden;
  }

  .info-business__slider--item-icon svg {
    opacity: 0;
  }

  .info-business__slider--item:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  }

  .info-business__slider--item:hover .info-business__slider--item-icon svg {
    opacity: 1;
  }
}