@font-face {
  font-weight: 400;
  font-family: "PTSans";
  font-display: swap;
  font-style: normal;
  src: url("PTSans-Regular.woff") format("woff"),url("PTSans-Regular.woff") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PTSans";
  font-display: swap;
  font-style: normal;
  src: url("PTSans-Bold.woff") format("woff"),url("PTSans-Bold.woff") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  src: url("Roboto-Regular.woff") format("woff"),url("Roboto-Regular.woff") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  src: url("Roboto-Bold.woff") format("woff"),url("Roboto-Bold.woff") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  src: url("OpenSans-Regular.woff") format("woff"),url("OpenSans-Regular.woff") format("woff2");
}

ul li {
  list-style: none;
}

body {
  letter-spacing: 0.05em;
  font-family: 'Roboto';
  color: #333;
  font-size: 14px;
}

.main-title,
.section-title {
  display: inline-block;
  position: relative;
}

.main-title .accent-text,
.section-title .accent-text {
  display: inline-block;
  text-transform: none;
  color: #4f9fe1;
}

.main-title._after-elem::after,
.section-title._after-elem::after {
  content: '.';
  position: absolute;
  color: #4f9fe1;
}

.min-title {
  font-size: 30px;
}

._btn {
  display: inline-block;
  position: relative;
  color: #757b89;
  text-align: center;
  font-family: 'PTSans';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 2em;
  border: 2px solid transparent;
  box-shadow: 0px 9px 32px 0px rgba(31,90,153,0.3);
  color: #FFFFFF;
  background-color: transparent;
  padding: 11px;
  min-width: 187px;
  z-index: 2;
  transition: all .2s ease-in-out;
}

._btn._large-btn {
  padding: 11px 30px;
  min-width: 220px;
}

._btn::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #4f9fe1 0%, #297de5 100%);
  transition: all .2s ease-in-out;
  opacity: 1;
  border-radius: 2em;
  z-index: -1;
}

._btn._min-btn {
  box-shadow: none;
  background-color: transparent;
  min-width: 137px;
  padding: 7px 20px;
  border: 2px solid #757b89;
  color: #757b89;
}

._btn._min-btn::before {
  display: none;
}

._icon-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 0.3em;
  background-color: #FFFFFF;
  border: 2px solid #c9cfdd;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0);
  transition: all .2s ease-in-out;
}

._icon-btn svg {
  width: 18px;
}

._icon-btn svg path {
  fill: #c9cfdd;
  transition: all .2s ease-in-out;
}

._icon-btn._active {
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

._icon-btn._active svg path {
  fill: #4f9fe1;
}

._icon-btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  cursor: pointer;
  border: 2px solid transparent;
}

._icon-btn:hover svg path {
  fill: #4f9fe1;
}

._header-link {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px 0;
  border-bottom: 0px solid;
  transition: all .2s ease-in-out;
}

._classic-link-style {
  display: inline-block;
  background-color: transparent;
  color: #3285e4;
  border: 0;
  border-bottom: 1px solid #3285e4;
  border-radius: 0;
  padding: 0;
}

._input-styles {
  box-shadow: none;
  padding: 17px 20px;
  border: 0;
  border-radius: 2em;
  transition: all .2s ease-in-out;
}

._input-styles:focus {
  box-shadow: inset 0px -3px 10px 0px rgba(20,36,85,0.19);
}

.wrapper {
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.slick-dots>li>button {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000000;
  font-size: 0;
  transition: all .2s ease-in-out;
}

.slick-dots>li>button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
}

.slick-dots>li.slick-active>button {
  border-color: #4f9fe1;
  background-color: #4f9fe1;
}

.social-list {
  border-top: 2px solid rgba(178,184,198,0.3);
}

.social-list__link svg {
  width: 44px;
  fill: #b2b8c6;
}

.pagination-list {
  display: flex;
  margin: 0 -10px;
}

.pagination-link {
  color: #9fa4b0;
}

.pagination-link._active {
  text-decoration: underline;
}

.pagination-link:hover {
  color: #4f9fe1;
}

._icon-before {
  padding-left: 20px;
}

.intro-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 10px);
  margin: 0 -5px;
}

.intro-links>* {
  flex: 0 1 calc(50% - 10px);
}

.intro-links-item {
  display: inline-block;
  margin: 0 5px;
}

.intro-links-item-link {
  width: 100%;
}

.page-address__item {
  position: relative;
}

.page-address__item:not(:last-child) {
  opacity: 0.6;
}

.page-address__item:not(:last-child)::after {
  content: '|';
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, 0);
}

.page-address__item--link {
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.page-address__item--link:hover {
  border-bottom: 1px solid #333;
}

.add-block {
  width: 100%;
  max-width: 300px;
  margin: 0;
  background: center / cover no-repeat;
}

.add-block__title {
  color: #4f9fe1;
}

.add-block__link {
  width: 100%;
}

.blog-item__body {
  margin: 20px 0 0 0;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  border-radius: 0 0 0.3em 0.3em;
}

.blog-item__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 195px;
  position: relative;
  border-radius: 0.3em 0.3em 0 0;
  overflow: hidden;
}

.blog-item__image--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-item__info {
  padding: 15px;
}

.blog-item__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0 5px 0;
}

.blog-item__date {
  color: #b2b8c6;
  margin: 10px 0;
}

.blog-item__link {
  margin: 10px 0;
  text-transform: uppercase;
  color: #4f9fe1;
}

.blog-item__link::after {
  content: attr(data-after);
}

.card-item.row-mode .card-item__body {
  display: flex;
  border-radius: 0.5em;
  height: 100%;
}

.card-item.row-mode .card-item__buttons {
  right: 0px;
  top: 10px;
}

.card-item.row-mode .card-item__buttons--btn {
  margin: 0 10px;
}

.card-item.row-mode .card-item__buttons--btn svg {
  fill: #333;
}

.card-item.row-mode .card-item__header {
  height: 100%;
  border-radius: 0.5em 0 0 0.5em;
}

.card-item.row-mode .card-item__header--image {
  top: 0px;
}

.card-item.row-mode .card-item__header--details-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-item.row-mode .card-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.card-item.row-mode .card-item__info--bottom {
  border-left: 0px solid #c9cfdd;
}

.card-item.row-mode .card-item__info--list {
  border-top: 0px;
}

.card-item.row-mode .card-item__info--price {
  border-top: 0px;
}

.card-item.row-mode .card-item__info--li {
  padding: 4px 0;
}

.card-item__body {
  position: relative;
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.15);
  border-radius: 0 0 0.5em 0.5em;
}

.card-item__buttons {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 10px;
  display: flex;
}

.card-item__buttons--btn {
  margin: 0 10px;
}

.card-item__buttons--btn svg {
  fill: #FFFFFF;
}

.card-item__buttons--btn svg * {
  transition: all .2s ease-in-out;
}

.card-item__buttons--btn:hover svg path {
  fill: #4f9fe1;
}

.card-item__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 178px;
  padding: 10px 0 0 0;
  border-radius: 0.5em;
  overflow: hidden;
}

.card-item__header--image {
  position: absolute;
  left: 0;
  top: -10px;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.card-item__header--image-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-item__header--image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.35;
}

.card-item__header--labels {
  display: flex;
  flex-direction: column;
  margin: -5px 0;
  font-size: 12px;
}

.card-item__header--label {
  background-color: rgba(255,255,255,0.3);
  color: #FFFFFF;
  padding: 2px 9px;
  margin: 5px 0;
  text-align: center;
  border-radius: 0 1em 1em 0;
}

.card-item__header--label._alt-style {
  background-color: rgba(79,159,225,0.6);
}

.card-item__header--details-buttons {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  opacity: 1;
  visibility: visible;
  margin: 0 -11px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all .2s ease-in-out;
}

.card-item__header--detail-btn {
  display: inline-block;
  margin: 5px;
  transition: all .2s ease-in-out;
}

.card-item__header--detail-btn svg {
  width: 50px !important;
}

.card-item__header--detail-btn svg path {
  transition: all .2s ease-in-out;
}

.card-item__header--detail-btn svg .icon-stroke {
  fill: #FFFFFF;
}

.card-item__header--detail-btn:hover svg .icon-bg {
  fill: #FFFFFF;
  opacity: 1;
}

.card-item__header--detail-btn:hover svg .icon-stroke {
  fill: #b2b8c6;
}

.card-item__info {
  margin: -15px 0 -20px 0;
}

.card-item__info--link {
  display: inline-block;
  width: 100%;
}

.card-item__info--address {
  color: #979caa;
  font-family: 'PTSans';
}

.card-item__info--list {
  border-top: 1px solid #c9cfdd;
}

.card-item__info--li {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
}

.card-item__info--li-name {
  color: #979caa;
}

.card-item__info--price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c9cfdd;
}

.card-item__info--price-name {
  color: #979caa;
}

.card-item__info--price-value {
  color: #4f9fe1;
  font-weight: 700;
}

.card-list__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.card-list__header>* {
  margin: 0 10px;
}

.card-list__header--founded {
  flex: 1 1 100%;
}

.card-list__mode {
  position: relative;
  left: -5px;
}

.card-list__mode--btn {
  margin: 0 5px;
}

.card-list__sort {
  width: 100%;
}

.card-list__sort._active .card-list__sort--body {
  opacity: 1;
  visibility: visible;
}

.card-list__sort--body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  right: 10px;
  top: 100%;
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.15);
  border-radius: 0.5em;
  z-index: 100;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.card-list__sort--title {
  display: inline-block;
  color: #979caa;
}

.card-list__sort--reset-btn {
  margin: 5px 0 0 0;
}

.card-list__sort--item {
  margin: 20px 0;
}

.card-list__sort--mob-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.card-list__sort--mob-btn svg {
  width: 30px;
  fill: #979CAA;
}

.card-list__sort--mob-btn._active svg {
  fill: #4f9fe1;
}

.card-list__footer {
  color: #9fa4b0;
  text-align: center;
}

.card-list__footer--info {
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 0;
}

.header__body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
  width: 100%;
}

.header__nav {
  width: calc(100% + 10px);
  position: relative;
  right: 0px;
  z-index: 5;
  background-color: #FFFFFF;
}

.header__nav::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 0;
  width: calc(100% - 10px);
  height: 1px;
  background-color: #b2b8c6;
  opacity: 0.35;
}

.header__nav--list {
  padding: 0 0 0 10px;
}

.header__nav--list.menu-list {
  margin: 0 5px 0 -2.5vw;
}

.header__nav--btn {
  padding: 10px 2.5vw;
  color: #757b89;
  display: inline-block;
}

.header__nav--tel-btn {
  display: none;
}

.header__tel-link {
  display: inline-block;
  color: #757b89;
  padding: 10px 10px 10px 10px;
}

.header__tel-link--btn {
  border: 2px solid #757b89 !important;
  font-size: 12px;
}

.header__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__links--block {
  width: calc(100% + 10px);
  padding-right: 10px;
  position: absolute;
  left: -10px;
  top: 0;
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background-color: #FFFFFF;
  box-shadow: 0px 11px 51px 0px rgba(0,0,0,0.3);
  transition: all .3s ease-in-out;
}

.header__links--block._active {
  transform: translate(0, 0%);
  opacity: 1;
  visibility: visible;
}

.header__links--item {
  width: 100%;
}

.header__links--tel-link {
  max-width: 235px;
}

.header__links--link {
  width: 100%;
  text-transform: none;
}

.header__logo {
  display: inline-block;
  position: relative;
  z-index: 100;
  flex: 0 0 110px;
  height: 70px;
}

.header__logo--img {
  height: 100%;
}

.header__burger {
  display: inline-block;
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: 0;
  width: 35px;
  height: 18px;
}

.header__burger span {
  position: absolute;
  right: 0;
  display: inline-block;
  height: 2px;
  background-color: #000000;
  transition: all .2s ease-in-out;
}

.header__burger span:nth-child(1) {
  width: 100%;
  top: 0;
}

.header__burger span:nth-child(2) {
  width: 90%;
  top: 50%;
}

.header__burger span:nth-child(3) {
  width: 80%;
  top: 100%;
}

.header__burger._active {
  height: 30px;
}

.header__burger._active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.header__burger._active span:nth-child(2) {
  opacity: 0;
}

.header__burger._active span:nth-child(3) {
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
}

.intro__item--info {
  position: relative;
  left: 0px;
}

.intro__item--title {
  text-transform: uppercase;
  line-height: 1.3;
}

.intro__item--text,
.intro__item p {
  font-family: 'PTSans';
  max-width: 370px;
}

.intro__item--image {
  justify-content: end;
  position: relative;
  right: 0px;
}

.min-video-blog__item {
  margin: 35px 0 0 0;
}

.min-video-blog__item--header {
  position: relative;
  min-height: 296px;
  border-radius: 0.3em 0.3em 0 0;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.min-video-blog__item--preview {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.min-video-blog__item--preview::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  transition: all .2s ease-in-out;
}

.min-video-blog__item--preview-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.min-video-blog__item--play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in-out;
  z-index: 2;
}

.min-video-blog__item--timecode {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0px 5px;
  border-radius: 0.1em;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}

.intro-catalog {
  position: relative;
}

.intro-catalog__mob-image {
  display: flex;
  justify-content: center;
  z-index: -1;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 350px;
}

.intro-catalog__mob-image--img {
  width: 100%;
  object-fit: contain;
}

.business-catalog__title {
  font-family: 'PTSans';
  width: 100%;
  font-style: 30px;
}

.business-catalog__block--header {
  flex-wrap: wrap;
}

.footer {
  background-color: #eaedf3;
  width: 100%;
  overflow: hidden;
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  position: relative;
}

.footer__row._top-line::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  width: 100vw;
  height: 1px;
  background-color: #b2b8c6;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 100%;
}

.footer__nav--block {
  max-width: 100%;
}

.footer__nav--block-body {
  padding: 0 5px;
}

.footer__nav--title {
  text-transform: uppercase;
}

.footer__nav--item {
  margin: 13px 0;
}

.footer__nav--link {
  display: inline;
  border-bottom: 1px solid transparent;
}

.footer__nav--link:hover {
  border-bottom: 1px solid #333;
}

.footer__form {
  display: flex;
  justify-content: end;
  flex: 1 1 100%;
}

.footer__form--body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 0 5px;
  text-align: center;
}

.footer__form--body>* {
  flex: 0 1 100%;
}

.footer__form--title {
  text-align: left;
}

.footer__form--input {
  min-width: 100%;
  display: inline-block;
  margin: 0 0 20px 0;
}

.footer__form--submit {
  margin: 5px 0 0 0;
  flex: 0 1 auto;
}

.footer__social {
  order: 1;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

.footer__social--list {
  display: flex;
  flex-wrap: wrap;
}

.footer__social--link {
  display: inline-block;
  padding: 6px 12px;
  transition: all .2s ease-in-out;
}

.footer__social--link svg {
  width: 44px;
  fill: #acb5c3;
}

.footer__copy {
  display: inline-block;
  margin: 5px 0;
  color: #b2b8c6;
  order: 1;
  flex: 0 1 17%;
}

.footer__extra {
  order: 2;
  margin: 0 -20px;
  flex: 1 1 100%;
  position: relative;
}

.footer__extra::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100vw + 10px);
  height: 1px;
  background-color: #b2b8c6;
}

.footer__extra--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__extra--item {
  margin: 5px 20px;
  flex: 0 1 calc(33.333% - 70px);
}

.footer__extra--link {
  display: inline;
  color: #b2b8c6;
  position: relative;
  font-size: 12px;
  border-bottom: 1px solid #b2b8c6;
}

@media (min-width: 480px) {
  .card-item.row-mode .card-item__buttons {
    right: 10px;
  }

  .intro-catalog__mob-image {
    left: 50%;
    top: 65%;
    width: 450px;
  }
}

@media (min-width: 500px) {
  .intro-links {
    margin: 0 -5px;
  }

  .intro-links>* {
    flex: 0 0 auto;
  }

  .intro-links-item-link {
    width: auto;
  }

  .intro__item--text,
  .intro__item p {
    max-width: 500px;
  }
}

@media (min-width: 600px) {
  .footer__nav {
    flex: 0 1 calc(50% - 25px);
  }

  .footer__nav--block {
    max-width: 240px;
  }

  .footer__form--body {
    text-align: left;
    justify-content: space-between;
  }

  .footer__form--body>* {
    flex: 0 1 auto;
  }

  .footer__form {
    flex: 0 1 calc(50% - 25px);
  }

  .footer__form--input {
    min-width: 300px;
  }
}

@media (min-width: 768px) {
  .intro-links {
    display: block;
    width: auto;
  }

  .card-item.row-mode .card-item__header--details-buttons {
    margin: 0 -11px;
    width: 100%;
  }

  .card-item.row-mode .card-item__info--bottom {
    border-left: 1px solid #c9cfdd;
  }

  .card-item.row-mode .card-item__info--li {
    padding: 9px 0;
  }

  .card-list__footer--info {
    flex-direction: row;
  }

  .footer__row._top-line::before {
    left: 0;
    top: 0;
    width: 100%;
  }

  .footer__nav {
    flex: 0 0 56%;
  }

  .footer__form {
    flex: 0 0 calc(45% - 30px);
  }

  .footer__social {
    order: 3;
    margin: 0;
    flex: 0 1 20%;
    justify-content: end;
  }

  .footer__social--link {
    padding: 6px;
  }

  .footer__social--link svg {
    width: 25px;
  }

  .footer__extra {
    flex: 0 1 60%;
  }

  .footer__extra::before {
    display: none;
  }

  .footer__extra--item {
    flex: 0 1 auto;
  }

  .footer__extra--link {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .min-video-blog__item--header {
    min-height: 187px;
  }
}

@media (min-width: 992px) {
  .card-item__header--detail-btn svg {
    width: 40px !important;
  }

  .card-list__header--founded {
    flex: 1 1 auto;
  }

  .card-list__sort {
    width: auto;
  }

  .card-list__sort._active {
    display: block !important;
  }

  .card-list__sort--body {
    flex-direction: row;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    position: static;
    background-color: transparent;
  }

  .card-list__sort--list {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
  }

  .card-list__sort--reset-btn {
    display: none;
  }

  .card-list__sort--item {
    margin: 0 12px;
  }

  .header {
    padding: 0 10px;
  }

  .header__nav::before {
    display: none;
  }

  .header__nav--list {
    padding: 0 10px;
  }

  .header__nav--list.menu-list {
    margin: 0 5px 0 -35px;
  }

  .header__nav--btn {
    padding: 10px 34px;
  }

  .header__tel-link {
    padding: 10px 0 10px 27px;
  }

  .header__tel-link {
    padding: 10px 27px;
  }

  .header__links {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__links--block {
    display: block;
    position: static;
    background-color: transparent;
    box-shadow: none;
    transform: translate(0, 0%);
    opacity: 1;
    visibility: visible;
  }

  .header__links--item {
    width: auto;
  }

  .header__links--link {
    width: auto;
    text-transform: uppercase;
  }

  .header__logo {
    flex: 0 0 120px;
  }

  .intro__item--info {
    left: 55px;
  }
}

@media (min-width: 1240px) {
  .header__logo {
    flex: 0 0 160px;
  }
}

@media (any-hover: hover) {
  ._btn {
    color: #333;
    border: 2px solid #000000;
    box-shadow: none;
  }

  ._btn::before {
    opacity: 0;
  }

  ._btn:hover {
    border: 2px solid transparent;
    box-shadow: 0px 9px 32px 0px rgba(31,90,153,0.3);
    color: #FFFFFF;
  }

  ._btn:hover::before {
    opacity: 1;
  }

  ._btn._min-btn:hover {
    box-shadow: none;
    color: #757b89;
  }

  ._header-link {
    border-bottom: 2px solid transparent;
  }

  ._header-link:hover {
    border-color: #757b89;
  }

  ._classic-link-style {
    color: #333;
    border-bottom: 1px solid transparent;
  }

  ._classic-link-style:hover {
    color: #3285e4;
    border-bottom: 1px solid #3285e4;
  }

  .blog-item__link {
    color: #4f9fe1;
  }

  .card-item__body {
    transition: all .2s ease-in-out;
  }

  .card-item__body:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.25);
  }

  .card-item__body:hover .card-item__header--details-buttons {
    opacity: 1;
    visibility: visible;
  }

  .card-item__header--details-buttons {
    opacity: 0;
    visibility: hidden;
  }

  .min-video-blog__item--header:hover {
    transform: translate(0, -10px);
  }

  .min-video-blog__item--header:hover .min-video-blog__item--preview::before {
    opacity: 0.3;
  }

  .min-video-blog__item--header:hover .min-video-blog__item--play-btn {
    opacity: 1;
    visibility: visible;
  }

  .min-video-blog__item--preview::before {
    opacity: 0;
  }

  .min-video-blog__item--play-btn {
    opacity: 0;
    visibility: hidden;
  }

  .min-video-blog__item--play-btn svg path {
    transition: all .2s ease-in-out;
  }

  .min-video-blog__item--play-btn:hover svg .icon-bg {
    opacity: 1;
  }

  .min-video-blog__item--play-btn:hover svg .icon-stroke {
    stroke: #b2b8c6;
  }

  .footer__social--link:hover {
    opacity: .5;
  }
}