
$accent: #4f9fe1;
$classicLink: #3285e4;
$grayBg: #eaedf3;
$gray2: #b2b8c6;
$gray: #9fa4b0;
$grayCardSort: #979caa;
$navGray: #757b89;
$text: #333333;
$gradient: linear-gradient( 0deg, rgb(79,159,225) 0%, rgb(60,142,227) 57%, rgb(41,125,229) 100%);

$hoverShadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.25);
$shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
$btnShadow: 0px 9px 32px 0px rgba(31, 90, 153, 0.3);
  
@font-face {
    @include font-include('PTSans', 400, swap, normal, 'PTSans-Regular');
}
@font-face {
    @include font-include('PTSans', 700, swap, normal, 'PTSans-Bold');
}
@font-face {
    @include font-include('Roboto', 400, swap, normal, 'Roboto-Regular');
}
@font-face {
    @include font-include('Roboto', 700, swap, normal, 'Roboto-Bold');
}
@font-face {
    @include font-include('Open Sans', 400, swap, normal, 'OpenSans-Regular');
}
