
@import "mixin";
@import "var";

.footer, .header {
    width: 100%;
    overflow: hidden;
}

ul li {
    list-style: none;
}

body {
    letter-spacing: 0.05em;
    font-family: 'Roboto';
    color: $text;
    font-size: 14px;
}

.main-title, .section-title {
    display: inline;
    position: relative;
    &::after {
        content: '.';
        
        color: $accent;
        position: absolute;
    }
    & .accent-text {
        display: inline-block;
        text-transform: none;
        color: $accent;
    }
}
  
._btn {
    display: inline-block;
    position: relative;
    
    color: $navGray;
    text-align: center;
    font-family: 'PTSans';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
    border-radius: 2em;

    border: 2px solid transparent;
    box-shadow: $btnShadow;
    color: #FFFFFF;
    background-color: transparent;

    padding: 11px;
    min-width: 187px;
    &._large-btn {
        padding: 11px 50px;
    }

    z-index: 2;

    transition: all .2s ease-in-out;
    &::before {
        content: '';
        position: absolute;
        left: -2px; top: -2px;
        width: calc(100% + 4px); height: calc(100% + 4px);

        background: linear-gradient( 90deg, #4f9fe1 0%, #297de5 100%);

        transition: all .2s ease-in-out;

        opacity: 1;

        border-radius: 2em;

        z-index: -1;
        
    }
    @media(any-hover: hover) {
        color: $text;
        border: 2px solid #000000;
        box-shadow: none;
        &::before {
            opacity: 0;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
            border: 2px solid transparent;
            box-shadow: $btnShadow;
            color: #FFFFFF;
        }
    }

    &._min-btn {
        box-shadow: none;
        &::before {
            display: none;
        }
        background-color: transparent;
        min-width: 137px;
        padding: 7px 20px;
        border: 2px solid $navGray;
        color: $navGray;
        
    }
}

._header-link {
    display: inline-block;

    font-size: 14px;
    text-transform: uppercase;

    padding: 13px 0;

    border-bottom: 2px solid;
    border-color: $navGray;

    transition: all .2s ease-in-out;

    @media(any-hover: hover) {
        border-color: transparent;
        &:hover {
            border-color: $navGray;
            //border-bottom: 3px solid 
        }
    }
    
}

._classic-link-style {
    display: inline-block;

    background-color: transparent;
    color: $classicLink;
    border: 0;
    border-bottom: 1px solid $classicLink;
    border-radius: 0;

    padding: 0;

    @media(any-hover: hover) {
        color: $text;
        border-bottom: 1px solid transparent;
        &:hover {
            color: $classicLink;
            border-bottom: 1px solid $classicLink;
        }
    }
}


._input-styles {
    box-shadow: none;

    padding: 17px 20px;

    border: 0;
    border-radius: 2em;

    transition: all .2s ease-in-out;
    &:focus {
        box-shadow: inset 0px -3px 10px 0px rgba(20, 36, 85, 0.19);
    }
}

.wrapper {
    overflow: hidden;
    //padding: 0 10px 0 0;
}






.header {
    padding: 0;
    @media(min-width: 992px) {
        padding: 0 10px;
    }
    overflow: hidden;
    &__body {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
    }
    &__nav {
        width: 100%;
        position: relative;
        right: -10px;
        //margin-right: 0px;

        /* border-bottom: 1px solid $gray2;
        @media(min-width: 992px) {
            border-bottom: 1px solid transparent;
        } */
        &::before {
            content: '';

            position: absolute;
            left: 10px; bottom: 0;
            width: calc(100vw - 20px); height: 1px;

            background-color: $gray2;
            opacity: 0.35;
        }
        @media(min-width: 992px) {
            &::before {
                display: none;
            }
        }
        &--list {
            padding: 0 0 0 10px;
            @media(min-width: 992px) {
                padding: 0 10px;

            }
            &.menu-list {
                margin: 0 5px 0 -2.5vw;
                @media(min-width: 992px) {
                    margin: 0 5px 0 -25px;
    
                }
            }
            
        }
        &--btn {
            padding: 10px 2.5vw;
            @media(min-width: 992px) {
                padding: 10px 34px;
            }

            color: $navGray;

            display: inline-block;
            
        }
        &--tel-btn {
            display: none;
        }
    }
    &__tel-link {
        display: inline-block;

        color: $navGray;

        padding: 10px 10px 10px 10px;
        @media(min-width: 992px) {
            padding: 10px 0 10px 27px;
        }
        
        @media(min-width: 992px) {
            padding: 10px 27px;
        }

        &--btn {
            border: 2px solid $navGray !important;
            font-size: 12px;
        }
    }
    &__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(min-width: 992px) {
            padding-top: 0;
            padding-bottom: 0;
        }
        padding-top: 13px;
        padding-bottom: 13px;
        &--block {
            display: none;
            @media(min-width: 992px) {
                display: block;
            }
        }
        &--list {
            
            &:last-child {
                //display: none;
                @media(min-width: 1240px) {
                    margin-right: 0;
                }
            }
        }
        &--item {
            @media(min-width: 1240px) {
                margin: 0 0 0 50px;
            }
            margin: 0 0 0 14px;
            &:last-child {
                @media(min-width: 1240px) {
                    margin: 0 0 0 50px;
                }
                margin: 0 10px 0 14px;
            }
        }
    }
    &__logo {
        @media(min-width: 992px) {
            flex: 0 1 80px;
            padding: 0 0 5px 10px;
        }
        @media(min-width: 1240px) {
            flex: 0 1 105px;
        }
        margin: 0 10px 0 0;
        flex: 0 1 120px;
    }
    &__burger {
        display: inline-block;
        position: relative;

        background-color: transparent;
        border: 0;

        width: 35px; height: 18px;

        & span {
            position: absolute;
            right: 0;

            display: inline-block;

            height: 2px;

            background-color: #000000;
            &:nth-child(1) {
                width: 100%;
                top: 0;
            }
            &:nth-child(2) {
                width: 90%;
                top: 50%;
            }
            &:nth-child(3) {
                width: 80%;
                top: 100%;
            }
        }
    }
}

.slick-dots {
    position: absolute;
    left: 10px; top: 50%;
    transform: translate(0, -50%);

    & > li {
        & > button {
            position: relative;
            display: inline-block;
            width: 9px; height: 9px;
            padding: 0;
            
            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                
                width: 200%; height: 200%;
                
            }
            
            border-radius: 50%;
            
            background-color: transparent;
            border: 1px solid #000000;
            font-size: 0;

            transition: all .2s ease-in-out;
        }
    }
    & > li.slick-active > button {
        border-color: $accent;
        background-color: $accent;
    }
}

.intro {
    padding-top: 20px;
    &__item {
        &--title {
            text-transform: uppercase;
            font-size: 30px;
            @media(min-width: 400px) {
                font-size: 45px;
            }
            
        }
        &--text, p {
            font-family: 'PTSans';
            max-width: 370px;
            @media(min-width: 500px) {
                max-width: 500px;
            }
        }
        &--links {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            @media(min-width: 768px) {
                display: block;
            }
            @media(min-width: 500px) {
                margin: 0;
            }
            margin: 0 -12px 0 -5px;
            & > * {
                @media(min-width: 500px) {
                    flex: 0 1 auto;
                }
                flex: 0 1 calc(50% - 20px);
            }
            
        }
        &--link {
            @media(min-width: 500px) {
                margin: 10px 0;
            }
            margin: 10px 5px;
            &:not(:last-child) {
                @media(min-width: 500px) {
                    margin-right: 10px;
                }
            }
        }
    }   
}

.blog-item {
    &__body {
        margin: 20px 0 0 0;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

        border-radius: 0 0 0.3em 0.3em;
    }
    &__image {
        position: absolute;
        left: 0; top: 0;

        width: 100%; min-height: 195px;

        position: relative;

        border-radius: 0.3em 0.3em 0 0;

        overflow: hidden;
        &--img {
            position: absolute;
            left: 0; top: 0;
            
            width: 100%; height: 100%;

            object-fit: cover;
        }
    }
    &__info {
        padding: 15px;
    }
    &__text {
        margin-top: 15px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        margin: 15px 0 5px 0;
    
    }
    &__date {
        color: $gray2;
        margin: 10px 0;
    }
    &__link {
        margin: 10px 0;
        text-transform: uppercase;
        color: $accent;
        &::after {
            content: attr(data-after);
        }
    }
}

.card-item {
    margin-top: 20px; margin-bottom: 20px;
    &__body {
        box-shadow: $shadow;
        border-radius: 0 0 0.5em 0.5em;
        @media(any-hover: hover) {
            transition: all .2s ease-in-out;
            &:hover {
                transform: translate(0, -10px);
                box-shadow: $hoverShadow;
                & .card-item__header--details-buttons {
                    opacity: 1; visibility: visible;
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        position: relative;
        min-height: 178px;

        padding: 10px 0 0 0;

        border-radius: 0.5em;
        overflow: hidden;

        &--image {
            position: absolute;
            left: 0; top: -10px;
            z-index: -1;

            height: 100%; width: 100%;
            &-img {
                object-fit: cover;
                height: 100%; width: 100%;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;

                background-color: #000000;
                opacity: 0.35;
            }
        }
        &--labels {
            display: flex;
            flex-direction: column;

            margin: -5px 0;

            font-size: 12px;
        }
        &--label {
            background-color: rgba(#FFFFFF, 0.3);
            color: #FFFFFF;

            padding: 2px 9px;
            margin: 5px 0;

            text-align: center;

            border-radius: 0 1em 1em 0;

            &._alt-style {
                background-color: rgba($accent, 0.6);
            }

        }
        &--buttons {
            display: flex;
        }
        &--btn {
            margin: 0 10px;
            & svg {
                fill: #FFFFFF;
                &:hover {
                    fill: $accent;
                }
                transition: all .2s ease-in-out;
            }
        }
        &--details-buttons {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);

            opacity: 1; visibility: visible;

            margin: 0 -11px;
            padding: 0 0 0 20px;

            transition: all .2s ease-in-out;
            @media(any-hover: hover) {
                opacity: 0; visibility: hidden;
            }
        }
        &--detail-btn {
            display: inline-block;

            margin: 0 5px;

            transition: all .2s ease-in-out;
            & svg path {
                transition: all .2s ease-in-out;
            }
            & svg .icon-stroke {
                fill: #FFFFFF;
            }
            &:hover {
                & svg .icon-bg {
                    fill: #FFFFFF;
                    opacity: 1;
                }
                & svg .icon-stroke {
                    fill: $gray2;
                }
            }
        }
    }

    &__info {
        
        margin: -15px 0 -20px 0;
        & > * {
            margin-top: 15px;
        }
        
        &--address {
            color: $grayCardSort;
            font-family: 'PTSans';
        }
        &--list {
            border-top: 1px solid #c9cfdd;
            padding-top: 10px; margin-bottom: -15px;
        }
        &--li {
            padding: 9px 0;

            display: flex;
            justify-content: space-between;
            &-name {
                color: $grayCardSort;
            }
        }
        &--price {
            display: flex;
            justify-content: space-between;
            
            padding: 15px 0;

            border-top: 1px solid #c9cfdd;

            &-name {
                color: $grayCardSort;
            }
            &-value {
                color: $accent;
                font-weight: 700;
            }
        }
    }
}

.card-list {
    @media(min-width: 480px) {
        //margin-right: -10px;
    }
    &__header {
        position: relative;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 0 -10px;
        & > * {
            margin: 0 10px;
        }
    }
    &__sort {
        
        &--body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            
            padding: 15px;

            position: absolute;
            right: 10px; top: 100%;

            box-shadow: $shadow;

            border-radius: 0.5em;

            z-index: 10;

            background-color: #FFFFFF;
            @media(min-width: 768px) {
                flex-direction: row;
                padding: 0;

                box-shadow: none;

                border-radius: 0;

                position: static;
                background-color: transparent;
            }
        }
        &._active {
            display: block !important;
        }
        &--title {
            display: inline-block;
            color: $grayCardSort;
        }
        &--list {
            display: flex;
            flex-wrap: wrap;

            @media(min-width: 768px) {
                margin: 0 -12px;
            }

        }
        &--reset-btn {
            margin: 5px 0 0 0;
            @media(min-width: 768px) {
                display: none;
            }
        }
        &--item {
            margin: 20px 0;
            @media(min-width: 768px) {
                margin: 0 12px;
            }
        }
        &--mob-btn {
            background-color: transparent;
            border: 0;
            border-radius: 0;

            & svg {
                width: 30px;
                fill: #979CAA;
            }
            &._active svg {
                fill: $accent;
            }

        }
    }

    &__footer {

        text-align: center;
    }

}

.min-video-blog {
    &__item {
        margin: 35px 0 0 0;
        &--header {
            position: relative;
            min-height: 296px;
            @media(min-width: 769px) {
                min-height: 187px;
            }

            border-radius: 0.3em 0.3em 0 0;

            overflow: hidden;

            transition: all .2s ease-in-out;
            
            @media(any-hover: hover) {
                &:hover {
                    transform: translate(0, -10px);
                    & .min-video-blog__item--preview {
                        &::before {
                            opacity: 0.3;
                        }
                    }
                    
                    & .min-video-blog__item--play-btn {
                        opacity: 1; visibility: visible;
                    }
                }
            }

        }
        &--preview {
            position: absolute;
            left: 0; top: 0;
            z-index: -1;
            
            width: 100%; height: 100%;

            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;

                width: 100%; height: 100%;
                background-color: #000000;

                opacity: 0.3;

                transition: all .2s ease-in-out;
            }
            @media(any-hover: hover) {
                &::before {
                    opacity: 0;
                }
            }

            &-img {
                height: 100%;
                width: 100%;

                object-fit: cover;
            }
            
        }
        &--play-btn {

            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);

            transition: all .2s ease-in-out;

            z-index: 2;

            @media(any-hover: hover) {
                opacity: 0; visibility: hidden;

                & svg path {
                    transition: all .2s ease-in-out;
                }
                &:hover {
                    & svg .icon-bg {
                        opacity: 1;
                    }
                    & svg .icon-stroke {
                        stroke: $gray2;
                    }
                }
            }
        }
        &--timecode {

            position: absolute;
            right: 10px; bottom: 10px;

            padding: 0px 5px;

            border-radius: 0.1em;

            color: #FFFFFF;
            background-color: rgba(#000000, 0.3);

            z-index: 10;
        }
    }
}

._icon-before {
    padding-left: 20px;
}

.footer {
    background-color: $grayBg;
    
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        
        position: relative;

        &._top-line::before {
            content: '';

            position: absolute;
            left: -10px; top: 0;
            
            width: 100vw; height: 1px;

            background-color: $gray2;
        }
    }
    
    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        flex: 1 1 100%;
        @media(min-width: 600px) {
            flex: 0 1 calc(50% - 25px);
        }
        @media(min-width: 768px) {
            flex: 0 0 56%;
        }
        

        &--block {
            &-body {
                padding: 0 5px;
            }
            max-width: 100%;
            @media(min-width: 600px) {
                max-width: 240px;
            }
        }
        &--title {
            text-transform: uppercase;
        }
        &--item {
            margin: 13px 0;
        }
        &--link {
            display: inline-block;
        }
    }
    &__form {
        display: flex;
        justify-content: end;
        
        &--body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;

            padding: 0 5px;
            
            text-align: center;
            @media(min-width: 600px) {
                text-align: left;
                justify-content: space-between;
            }
            & > * {
                flex: 0 1 100%;
                @media(min-width: 600px) {
                    flex: 0 1 auto;
                }
                
            }
        }
        flex: 1 1 100%;
        @media(min-width: 600px) {
            flex: 0 1 calc(50% - 25px);
        }
        @media(min-width: 768px) {
            flex: 0 0 calc(45% - 30px);
        }
        
        &--title {
            text-align: left;
        }
        &--input {
            min-width: 100%;
            display: inline-block;
            margin: 0 0 20px 0;

            @media(min-width: 600px) {
                min-width: 300px;
            }
        }
        &--submit {
            margin: 5px 0 0 0;
            flex: 0 1 auto;
        }
    }
    &__social {
        order: 1;
        flex: 1 1 100%;

        display: flex;
        justify-content: center;
        
        @media(min-width: 768px) {
            order: 3;
            margin: 0;

            flex: 0 1 20%;

            justify-content: end;

        }
        &--list {
            display: flex;
            flex-wrap: wrap;
        }
        &--link {
            display: inline-block;

            padding: 6px 12px;
            @media(min-width: 768px) {
                padding: 6px;
            }

            transition: all .2s ease-in-out;
            & svg {
                width: 44px;
                @media(min-width: 768px) {
                    width: 25px;
                }
                fill: #acb5c3;
            }
            @media(any-hover: hover) {
                
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
    &__copy {
        display: inline-block;
        margin: 5px 0;

        color: $gray2;
        order: 1;

        flex: 0 1 17%;
    }
    &__extra {
        order: 2;
        margin: 0 -20px;
        flex: 1 1 100%;
        @media(min-width: 768px) {
            flex: 0 1 60%;
            &::before {
                display: none;
            }
        }
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0; top: 0;

            width: calc(100vw + 10px); height: 1px;

            background-color: $gray2;
        }
        &--list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--item {
            margin: 5px 20px;
            flex: 0 1 calc(33.333% - 70px);
            @media(min-width: 768px) {
                flex: 0 1 auto;
            }
            //flex: 0 1 calc(33.333% - 70px);
            
            //flex: 0 1 calc(33.333% - 60px);
        }
        &--link {
            display: inline;
            color: $gray2;
            position: relative;

            font-size: 12px;
            @media(min-width: 768px) {
                font-size: 14px;
            }

            border-bottom: 1px solid $gray2;
            

        }
    }
}


@import "media";
